services:
  rust:
    image: ${RUST_IMAGE}
    networks:
      - app_network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
    secrets:
      - MEILI_ADMIN_KEY
    environment:
      - RUST_LOG=${RUST_LOG}
      - RUST_PORT=${RUST_PORT}
      # Microservices
      - MEILI_URL=${MEILI_URL}
      - REDIS_URL=${REDIS_URL}
    ports:
      - ${RUST_PORT}:${RUST_PORT}

secrets:
  MEILI_ADMIN_KEY:
    external: true

networks:
  app_network:
    external: true
    name: app_network
