name: Docker Build

on:
  push:
    branches:
      - "**"

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: taiki-e/install-action@just

      - name: Build
        run: just build app_rust

      - name: Push, if on main
        if: github.ref == 'refs/heads/main'
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          LOCAL="app_rust:latest"
          REMOTE="ghcr.io/${{ github.repository_owner }}/app_rust"

          REMOTE_LATEST="$REMOTE:latest"
          SHA="${{ github.sha }}"
          REMOTE_SHA="$REMOTE:${SHA::7}"

          docker tag "$LOCAL" "$REMOTE_LATEST"
          docker tag "$LOCAL" "$REMOTE_SHA"

          docker push "$REMOTE_LATEST"
          docker push "$REMOTE_SHA"
