name: Docker Build

on:
  push:
    branches:
      - "**"

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate image tags
        run: |
          set -a
          source .env
          set +a

          REMOTE="ghcr.io/${{ github.repository_owner }}/${RUST_IMAGE}"
          echo "REMOTE=$REMOTE" >> "$GITHUB_ENV"

          SHA="${{ github.sha }}"
          echo "REMOTE_SHA=$REMOTE:${SHA:0:7}" >> "$GITHUB_ENV"

          RAW_MSG="${{ github.event.head_commit.message }}"
          SANITIZED_MSG=$(printf '%s' "$RAW_MSG" | tr '[:upper:]' '[:lower:]' | tr ' ' '-' | tr -cd 'a-z0-9._-')
          echo "REMOTE_MSG=$REMOTE:${SANITIZED_MSG:-no-msg}" >> "$GITHUB_ENV"

      - name: Build and push
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./backend/Dockerfile
          platforms: "linux/arm64"
          push: true
          cache-to: gha
          cache-from: gha
          tags: ${{ env.REMOTE }},${{ env.REMOTE_SHA }},${{ env.REMOTE_MSG }}
