name: Docker Build

on:
  push:
    branches:
      - "**"

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          repository: dadal00/rust-rpxy
          path: rust-rpxy
      - uses: actions/checkout@v6
        with:
          path: food

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: taiki-e/install-action@just
      - name: Build
        working-directory: food
        run: just build custom

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push, if on main
        if: github.ref == 'refs/heads/main'
        working-directory: food
        run: |
          set -a
          source .env
          set +a

          for CUSTOM in ${CUSTOM_IMAGES}; do
            LOCAL="${CUSTOM}:latest"
            REMOTE="ghcr.io/${{ github.repository_owner }}/${CUSTOM}"

            REMOTE_LATEST="$REMOTE:latest"

            SHA="${{ github.sha }}"
            REMOTE_SHA="$REMOTE:${SHA:0:7}"

            RAW_MSG="${{ github.event.head_commit.message }}"
            SANITIZED_MSG=$(printf '%s' "$RAW_MSG" | tr '[:upper:]' '[:lower:]' | tr ' ' '-' | tr -cd 'a-z0-9._-')
            REMOTE_MSG="$REMOTE:${SANITIZED_MSG:-"no-msg"}"

            docker tag "$LOCAL" "$REMOTE_LATEST"
            docker tag "$LOCAL" "$REMOTE_SHA"
            docker tag "$LOCAL" "$REMOTE_MSG"

            docker push "$REMOTE_LATEST"
            docker push "$REMOTE_SHA"
            docker push "$REMOTE_MSG"
          done
