name: Docker Build

on:
  push:
    branches:
      - "**"

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: taiki-e/install-action@just

      - name: Build
        run: just build custom

      - name: Push, if on main
        if: github.ref == 'refs/heads/main'
        run: |
          set -a
          source .env
          set +a

          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          for CUSTOM in ${CUSTOM_IMAGES}; do
            LOCAL="${CUSTOM}:latest"
            REMOTE="ghcr.io/${{ github.repository_owner }}/${CUSTOM}"

            REMOTE_LATEST="$REMOTE:latest"

            SHA="${{ github.sha }}"
            REMOTE_SHA="$REMOTE:${SHA:0:7}"

            RAW_MSG="${{ github.event.head_commit.message }}"
            SANITIZED_MSG=$(echo "$RAW_MSG" | tr '[:upper:]' '[:lower:]' | tr ' ' '-' | tr -cd 'a-z0-9._-')
            REMOTE_MSG="$REMOTE:${SANITIZED_MSG:-"no-msg"}"

            docker tag "$LOCAL" "$REMOTE_LATEST"
            docker tag "$LOCAL" "$REMOTE_SHA"
            docker tag "$LOCAL" "$REMOTE_MSG"

            docker push "$REMOTE_LATEST"
          done
