name: Check

on:
  push:
    branches:
      - "**"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable

      - name: Configure cache
        uses: Swatinem/rust-cache@v2

      - name: Compiling, formatting, and testing
        run: |
          cargo fmt --all -- --check
          cargo check
          cargo test
