name: Check

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - name: Check correctness + formatting
        run: |
          cargo fmt --all -- --check
          cargo check
          cargo test
