name: Docker

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: taiki-e/install-action@just

      - name: Build
        run: just build app_rust

      - name: Push, if on main
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          remote_image="ghcr.io/${{ github.repository_owner }}/app_rust"
          docker tag "app_rust:latest" "$remote_image"

          docker push "$remote_image"
