name: Check

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - name: Build Docs
        run: |
          cargo doc

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Prepare Docs deployment
        run: |
          pip install ghp-import

      - name: Deploy to GitHub pages
        run: |
          cd target
          ghp-import -n -p -f doc
