name: Check

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: |
          cargo doc

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target/doc/food
